.row {
  max-width: 100%;
}
body {
}
#offertext {
  height: fit-content;
  @media (max-width: 426px) {
    display: none;
  }
}
#close {
  right: 50px;
  cursor: pointer;
}
#shopco {
  margin-left: 10rem;
}
#navbarSupportedContent {
  font-size: 16;
}

#searchbar {
  width: 25rem;
  background-color: #f0f0f0;
  background-image: url("/imgs/magnifying glass.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 10px;
  font-size: 16px;
  padding-left: 40px;
  border-radius: 40px !important;
}
#account {
  visibility: hidden;
}
#LoginButton {
  margin-right: 20px;
  max-height: fit-content;
}

#signoutButton {
  margin-right: 20px;
  transition: 0.3s;
  visibility: hidden;
  @media (max-width: 767px) {
    max-height: fit-content;
  }
}
#home-container {
  text-align: center;
}
#homeImage {
  @media (max-width: 767px) {
    display: none;
  }

  width: 240vb;
}
.textbox {
  text-align: center;
  margin: auto;
  @media (min-width: 767px) {
    max-width: 50%;
    position: absolute;
    left: 10%;
    top: 16%;
    text-align: left !important;
  }
  #shopButton {
    margin: auto;
    text-align: left;
    margin-left: 0;
    border-radius: 30px;
    @media ((max-width: 768px) and (min-width:426px)) {
      margin: auto;
      position: absolute;
      bottom: -53px !important;
    }
    @media ((max-width: 1024px) and (min-width:769px)) {
      margin: auto;
      position: absolute;
      bottom: -145px;
    }
    @media (max-width: 426px) {
      margin-left: auto !important;
      margin-bottom: 15px;
    }
  }
  #homeDesc {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

#brands {
  @media (min-width: 769px) {
    display: flex;
  }
}

#rating {
  color: gold;
}
#products1 {
  cursor: pointer;
  @media (min-width: 1025px) {
    display: flex;
  }
  @media ((max-width: 1024px) and (min-width:426px)) {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 320px) {
    margin: auto;
  }
}
#viewAllButton {
  border: 1px solid #ccc;
  border-radius: 40px;
}
#topSelling {
  h1 {
    border-top: 1px solid #ccc;
  }
}
#products2 {
  cursor: pointer;
  @media (min-width: 1025px) {
    display: flex;
  }
  @media ((max-width: 1024px) and (min-width:426px)) {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 320px) {
    margin: auto;
  }
}
.categoryBox {
  cursor: pointer;
  background-color: #f0f0f0;
  img {
    cursor: pointer;
  }
}

#reviewSection {
  @media (max-width: 767px) {
    display: none;
  }
}
.revbox {
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#subscribeForm {
  input {
    border-radius: 20px;
    padding: 10px;
  }
  button {
    border-radius: 20px;
    padding: 10px;
  }
}
#subform {
  border-radius: 20px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
#rights {
  border-top: 1px solid #ccc;
}
#footer {
  @media (max-width: 767px) {
    display: none !important;
  }
}
#rights {
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
