.row {
  max-width: 100%;
}

#offertext {
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 426px) {
  #offertext {
    display: none;
  }
}

#close {
  right: 50px;
  cursor: pointer;
}

#shopco {
  margin-left: 10rem;
}

#navbarSupportedContent {
  font-size: 16;
}

#searchbar {
  width: 25rem;
  background-color: #f0f0f0;
  background-image: url("/imgs/magnifying glass.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 10px;
  font-size: 16px;
  padding-left: 40px;
  border-radius: 40px !important;
}

#account {
  visibility: hidden;
}

#LoginButton {
  margin-right: 20px;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

#signoutButton {
  margin-right: 20px;
  transition: 0.3s;
  visibility: hidden;
}
@media (max-width: 767px) {
  #signoutButton {
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}

#home-container {
  text-align: center;
}

#homeImage {
  width: 240vb;
}
@media (max-width: 767px) {
  #homeImage {
    display: none;
  }
}

.textbox {
  text-align: center;
  margin: auto;
}
@media (min-width: 767px) {
  .textbox {
    max-width: 50%;
    position: absolute;
    left: 10%;
    top: 16%;
    text-align: left !important;
  }
}
.textbox #shopButton {
  margin: auto;
  text-align: left;
  margin-left: 0;
  border-radius: 30px;
}
@media ((max-width: 768px) and (min-width: 426px)) {
  .textbox #shopButton {
    margin: auto;
    position: absolute;
    bottom: -53px !important;
  }
}
@media ((max-width: 1024px) and (min-width: 769px)) {
  .textbox #shopButton {
    margin: auto;
    position: absolute;
    bottom: -145px;
  }
}
@media (max-width: 426px) {
  .textbox #shopButton {
    margin-left: auto !important;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .textbox #homeDesc {
    display: none;
  }
}

@media (min-width: 769px) {
  #brands {
    display: flex;
  }
}

#rating {
  color: gold;
}

#products1 {
  cursor: pointer;
}
@media (min-width: 1025px) {
  #products1 {
    display: flex;
  }
}
@media ((max-width: 1024px) and (min-width: 426px)) {
  #products1 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 320px) {
  #products1 {
    margin: auto;
  }
}

#viewAllButton {
  border: 1px solid #ccc;
  border-radius: 40px;
}

#topSelling h1 {
  border-top: 1px solid #ccc;
}

#products2 {
  cursor: pointer;
}
@media (min-width: 1025px) {
  #products2 {
    display: flex;
  }
}
@media ((max-width: 1024px) and (min-width: 426px)) {
  #products2 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 320px) {
  #products2 {
    margin: auto;
  }
}

.categoryBox {
  cursor: pointer;
  background-color: #f0f0f0;
}
.categoryBox img {
  cursor: pointer;
}

@media (max-width: 767px) {
  #reviewSection {
    display: none;
  }
}

.revbox {
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#subscribeForm input {
  border-radius: 20px;
  padding: 10px;
}
#subscribeForm button {
  border-radius: 20px;
  padding: 10px;
}

#subform {
  border-radius: 20px;
}
@media (max-width: 767px) {
  #subform {
    flex-direction: column;
  }
}

#rights {
  border-top: 1px solid #ccc;
}

@media (max-width: 767px) {
  #footer {
    display: none !important;
  }
}

@media (max-width: 767px) {
  #rights {
    flex-direction: column;
  }
}/*# sourceMappingURL=homeStyle.css.map */