@font-face {
  font-family: "integral";
  src: url(/webfonts/Fontspring-DEMO-integralcf-bold.otf);
}
@font-face {
  font-family: "satoshi";
  src: url(/webfonts/Satoshi-Black.otf);
}

h1 {
  font-family: "integral";
}

.row {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#offertext {
  height: fit-content;
  background-color: black;
  @media (max-width: 426px) {
    display: none;
  }
}
#close {
  right: 50px;
  cursor: pointer;
}
#shopco {
  margin-left: 8rem;
}
#navsection {
  margin: 1rem;
  margin-top: 2rem;
}
#navitems {
  margin-left: -3rem;
}

#navbarSupportedContent {
  font-size: 16;
}

#searchbar {
  width: 35rem;
  background-color: #f0f0f0;
  background-image: url("/imgs/magnifying glass.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 10px;
  font-size: 16px;
  padding-left: 40px;
  border-radius: 40px !important;
  border: none;
  margin-left: -7rem;
  @media (max-width: 1025px) {
    width: 15rem;
  }
}
#account {
  visibility: hidden;
  margin-left: -5rem;
}
#LoginButton {
  margin-right: 20px;
  max-height: fit-content;
}

#signoutButton {
  margin-right: 20px;
  transition: 0.3s;
  @media (max-width: 767px) {
    max-height: fit-content;
  }
}
#home-container {
  text-align: center;
  padding: 0;
  @media (min-width: 769px) {
    width: 100%;
    height: 86vb;
    background-image: url("/imgs/home.png");
  }
}
#homeImage {
  @media (max-width: 767px) {
    display: none;
  }

  width: 240vb;
}
.textbox {
  text-align: center;
  margin: 5rem;

  @media (min-width: 767px) {
    max-width: 50%;
    text-align: left !important;
  }
  #mainText {
    font-family: "integral";
    font-size: 46px;
    margin-bottom: 1rem;
  }
  #shopButton {
    background-color: black;
    margin: auto;
    text-align: left;
    margin-left: 0;
    border-radius: 30px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 1rem;
    @media ((max-width: 768px) and (min-width:426px)) {
      margin: auto;
      position: absolute;
      bottom: -53px !important;
    }
    @media ((max-width: 1024px) and (min-width:769px)) {
      margin: auto;
      position: absolute;
      bottom: -145px;
    }
    @media (max-width: 426px) {
      margin-left: auto !important;
      margin-bottom: 15px;
    }
  }
  #homeDesc {
    @media (max-width: 768px) {
      display: none;
    }
  }
  .stats {
    h2 {
      font-family: "satoshi";
    }
    p {
      color: #777;
    }
    .stat2 {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        height: 100%;
        border-left: 1px solid #ccc;
        left: -1.5rem;
      }
    }
    .stat3 {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        height: 100%;
        border-left: 1px solid #ccc;
        left: -1.5rem;
      }
    }
  }
}

#brands {
  background-color: black;
  @media (min-width: 769px) {
    display: flex;
  }
}
#arrivalHeader {
  font-family: "integral";
}
#topsellingHeader {
  font-family: "integral";
}
#CategoryHeader {
  font-family: "integral";
}
#rating {
  color: gold;
}
#products1 {
  cursor: pointer;
  @media (min-width: 1025px) {
    display: flex;
  }
  @media ((max-width: 1024px) and (min-width:426px)) {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 320px) {
    margin: auto;
  }
}
#viewAllButton {
  border: 1px solid #ccc;
  border-radius: 40px;
}
#topSelling {
  h1 {
    border-top: 1px solid #ccc;
  }
}
#products2 {
  cursor: pointer;
  @media (min-width: 1025px) {
    display: flex;
  }
  @media ((max-width: 1024px) and (min-width:426px)) {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 320px) {
    margin: auto;
  }
}
.categoryBox {
  cursor: pointer;
  border-radius: 40px;
  background-color: #f0f0f0;
  img {
    cursor: pointer;
  }
}
#reviewHeader {
  font-family: "integral";
}

#reviewSection {
  @media (max-width: 767px) {
    display: none;
  }
}
.revbox {
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#subscribeForm {
  input {
    border-radius: 20px;
    padding: 10px;
  }
  button {
    border-radius: 20px;
    padding: 10px;
  }
}
#subform {
  border-radius: 20px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
#rights {
  border-top: 1px solid #ccc;
}
#footer {
  @media (max-width: 767px) {
    display: none !important;
  }
}
#rights {
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
