#offertext {
  height: fit-content;
  @media (max-width: 426px) {
    display: none;
  }
}
nav {
  position: relative;
}
#line {
  border-top: 1px solid #ccc;
}
#close {
  right: 50px;
  cursor: pointer;
}
#shopco {
  margin-left: 10rem;
}
#navbarSupportedContent {
  font-size: 16;
}

#searchbar {
  width: 25rem;
  background-color: #f0f0f0;
  background-image: url("/imgs/magnifying glass.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 10px;
  font-size: 16px;
  padding-left: 40px;
  border-radius: 40px !important;
}
#account {
  visibility: hidden;
}
#LoginButton {
  margin-right: 20px;
  max-height: fit-content;
}

#signoutButton {
  margin-right: 20px;
  transition: 0.3s;
  visibility: hidden;
  @media (max-width: 767px) {
    max-height: fit-content;
  }
}

#filtersection {
  border: 1px solid #ccc;
}
.filterhead {
  border-bottom: 1px solid #ccc;
}
#categorylist {
  position: relative;
  li {
    &::after {
      position: absolute;
      content: ">";
      right: 5%;
      color: #777;
    }
  }
  border-bottom: 1px solid #ccc;
}
.range {
  border-bottom: 1px solid #ccc;

  .range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
  }
  .range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: black;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
  }
  .range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
  }
  .range-price {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .range-price label {
    margin-right: 5px;
  }
  .range-price input {
    width: 60px;
    padding: 5px;
  }
  .range-price input:first-of-type {
    margin-right: 15px;
  }
}
.colors {
  border-bottom: 1px solid #ccc;
}
.size {
  border-bottom: 1px solid #ccc;
}

#dresslist {
  position: relative;
  li {
    &::after {
      position: absolute;
      content: ">";
      right: 5%;
      color: #777;
    }
  }
}

#listhead {
  &::after {
    position: absolute;
    content: "^" !important;
    right: 5%;
    color: #777;
  }
}

#filterbtn {
  border-radius: 40px;
  margin: auto;
}

#subscribeForm {
  input {
    border-radius: 20px;
    padding: 10px;
  }
  button {
    border-radius: 20px;
    padding: 10px;
  }
}
#subform {
  border-radius: 20px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
#rights {
  border-top: 1px solid #ccc;
}
#footer {
  @media (max-width: 767px) {
    display: none !important;
  }
}
#rights {
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
