* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}

.row {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#offertext {
  height: fit-content;
  background-color: black;
  @media (max-width: 426px) {
    display: none;
  }
}
#navsection {
  margin: 1rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(0, 0, 0, 10%);
}
nav {
  position: relative;
}
#line {
  border-top: 1px solid #ccc;
}
#close {
  right: 50px;
  cursor: pointer;
}
#shopco {
  margin: auto;
}
#navbarSupportedContent {
  font-size: 16;
}

#searchbar {
  width: 25rem;
  background-color: #f0f0f0;
  background-image: url("/imgs/magnifying glass.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 10px;
  font-size: 16px;
  padding-left: 40px;
  border-radius: 40px !important;
}
#account {
  visibility: hidden;
}
#LoginButton {
  margin-right: 20px;
  max-height: fit-content;
}

#signoutButton {
  margin-right: 20px;
  transition: 0.3s;
  visibility: hidden;
  @media (max-width: 767px) {
    max-height: fit-content;
  }
}
#home {
  margin-left: 3rem;
  margin-bottom: 2rem;
  color: #666;
}

#sideImgs {
  img {
    margin-bottom: 1rem;
    background-color: #f0eeed;
    border-radius: 20px;
  }
}
#mainImg {
  background-color: #f0eeed;
  border-radius: 20px;
  margin-bottom: 1rem;
  height: fit-content;
}

#sizes {
  @media (min-width: 769px) {
    display: flex;
  }
  li {
    border-radius: 40px;
    background-color: #f0f0f0;
    padding: 1rem 1.5rem 1rem;
    &#active {
      background-color: black !important;
      color: white;
    }
  }
}
#quantity {
  background-color: #f0f0f0;
  max-width: 10rem;
  border-radius: 40px;
}
#addtocart {
  border-radius: 40px;
}
#tabs {
  font-size: 20px;
  margin: auto;
  li {
    border-bottom: 1px solid #ddd;

    cursor: pointer;
    padding-bottom: 1rem;

    &:hover {
      font-weight: bold;
      color: black;
      border-bottom: 2px solid black;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
#latest {
  border-radius: 40px;
}
#write {
  border-radius: 40px;
}
#all-reviews {
  @media (min-width: 1024px) {
    margin-top: 3rem;
    margin-left: 12rem;
    left: 1rem;
  }
  @media (max-width: 426px) {
    display: none;
  }
}
#writAndSort {
  @media (max-width: 1024px) {
    position: absolute;
    right: 1rem;
  }
  @media (max-width: 768px) {
    position: relative;
    text-align: center;
  }
}
#reviewer {
  i {
    color: green;
  }
}
#rating {
  color: gold;
}
.revbox {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  @media (max-width: 768px) {
    margin-left: 3rem;
    max-width: 88%;
  }
  @media (max-width: 426px) {
    margin-left: 3rem;
    max-width: 80%;
  }
}
#loadbtn {
  background-color: #ffff;
  border: 1px solid #ddd;
  border-radius: 40px;
  margin-left: 34rem;
  max-width: fit-content;
  margin: auto;
  position: absolute;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  left: 50%;
  transform: translateX(-50%);
}
#alsolike {
  font-size: 60px;
}
#productHolder {
  img {
    background-color: #f0eeed;
    border-radius: 20px;
  }
}
#detailsection {
  display: none;
}

#FAQsection {
  display: none;
}
#footerSection {
  padding: 0;
}

#subscribeForm {
  input {
    border-radius: 20px;
    padding: 10px;
  }
  button {
    border-radius: 20px;
    padding: 10px;
  }
}
#subform {
  background-color: black;
  border-radius: 20px;
  margin-bottom: -5rem;
  position: relative;
  margin-left: 3rem;
  margin-right: 3rem;
  z-index: 2;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
#rights {
  border-top: 1px solid #ccc;
}
#footer {
  z-index: -1;
  background-color: #f0f0f0;
  padding-top: 10rem;
  width: 100%;
  max-width: 100%;

  @media (min-width: 769px) {
    column-gap: 1rem;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
  .social {
    display: flex;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }
}
#footer1 {
  margin-right: 3rem;
  @media (min-width: 1440px) {
    margin-left: 3rem;
  }
}
#rights {
  z-index: -1;
  background-color: #f0f0f0;
  width: 100%;
  margin: auto;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  p {
    margin-left: 2rem;
  }
  #cards {
    margin-right: 5rem;
  }
}
#rightsection {
  padding: 0;
}
