* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.row {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#offertext {
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 426px) {
  #offertext {
    display: none;
  }
}

nav {
  position: relative;
}

#line {
  border-top: 1px solid #ccc;
}

#close {
  right: 50px;
  cursor: pointer;
}

#shopco {
  margin-left: 10rem;
}

#navbarSupportedContent {
  font-size: 16;
}

#searchbar {
  width: 25rem;
  background-color: #f0f0f0;
  background-image: url("/imgs/magnifying glass.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 10px;
  font-size: 16px;
  padding-left: 40px;
  border-radius: 40px !important;
}

#account {
  visibility: hidden;
}

#LoginButton {
  margin-right: 20px;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

#signoutButton {
  margin-right: 20px;
  transition: 0.3s;
  visibility: hidden;
}
@media (max-width: 767px) {
  #signoutButton {
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}

@media (min-width: 769px) {
  #sizes {
    display: flex;
  }
}
#sizes li {
  border-radius: 40px;
  background-color: #f0f0f0;
  padding: 1rem 1.5rem 1rem;
}
#sizes li#active {
  background-color: black !important;
  color: white;
}

#quantity {
  background-color: #f0f0f0;
  max-width: 10rem;
  border-radius: 40px;
}

#addtocart {
  border-radius: 40px;
}

#tabs {
  font-size: 20px;
}
#tabs li {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding-bottom: 1rem;
}
#tabs li:hover {
  font-weight: bold;
  color: black;
  border-bottom: 2px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
}

#latest {
  border-radius: 40px;
}
@media (max-width: 426px) {
  #latest {
    display: none;
  }
}

#write {
  border-radius: 40px;
}
@media (max-width: 426px) {
  #write {
    display: none;
  }
}

#reviewer i {
  color: green;
}

#rating {
  color: gold;
}

.revbox {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 767px) {
  .revbox {
    margin-left: 3rem;
  }
}

#loadbtn {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-left: 34rem;
}
@media (max-width: 768px) {
  #loadbtn {
    display: none;
  }
}

#alsolike {
  font-size: 60px;
}

#detailsection {
  display: none;
}

#revheader {
  display: flex;
}

#FAQsection {
  display: none;
}

#footerSection {
  padding: 0;
}

#subscribeForm input {
  border-radius: 20px;
  padding: 10px;
}
#subscribeForm button {
  border-radius: 20px;
  padding: 10px;
}

#subform {
  background-color: black;
  border-radius: 20px;
  margin-bottom: -5rem;
  position: relative;
  margin-left: 3rem;
  margin-right: 3rem;
  z-index: 2;
}
@media (max-width: 767px) {
  #subform {
    flex-direction: column;
  }
}

#rights {
  border-top: 1px solid #ccc;
}

#footer {
  z-index: -1;
  background-color: #f0f0f0;
  padding-top: 10rem;
  width: 100%;
}
@media (max-width: 767px) {
  #footer {
    flex-direction: column;
    text-align: center;
  }
}
#footer .social {
  display: flex;
}
@media (max-width: 767px) {
  #footer .social {
    text-align: center;
    display: block;
  }
}

#rights {
  z-index: -1;
  background-color: #f0f0f0;
  width: 100%;
  margin: auto;
}
@media (max-width: 767px) {
  #rights {
    flex-direction: column;
  }
}
#rights p {
  margin-left: 2rem;
}
#rights #cards {
  margin-right: 5rem;
}

#rightsection {
  padding: 0;
}/*# sourceMappingURL=productdetails.css.map */