.row {
  max-width: 100%;
}

#pleaseLogin {
  color: #a4a1aa;
}

#loginForm {
  left: 23%;
  top: 50%;
  transform: translateY(-50%);
  @media (max-width: 767px) {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}

#loginImg {
  max-height: 100vb;
  z-index: -1;
  width: 100%;
  max-width: 100%;
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 767px) {
    height: 767px;
  }
}
#loginLogoImg {
  position: absolute;
  left: 7%;
  top: 5%;
  @media (max-width: 767px) {
    margin-top: 5rem;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}

#loginContainer {
  @media (min-width: 768px) {
    position: relative;
  }
}

#error {
  display: none;
}
